@import "src/assets/scss/abstracts/colors";
@import "src/assets/scss/base/base";
.gs_quizzes {
  @extend .gs_container;
  span.difficulty_level {
    border-radius: 12px 0px 12px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    min-width: 100px;
    height: 37px;
    padding: 4px 8px 6px;
    cursor: default;
    &.gs_green{
      background: $levelGreen;
    }
    &.gs_yellow{
      background: $levelYellow;
    }
    &.gs_orange{
      background: $levelOrange;
    }
  }
  .gs_question {
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    color: $mainDark;
    font-size: 18px;
    margin: 87px 0 75px;
    @screen md {
      font-size: 24px;
    }
    @screen lg {
      font-size: 30px;
    }
  }
  div.gs_answers_block {
    button {
      font-style: normal;
      font-weight: bold;
      line-height: 22px;
      color: $mainDark;
      border: 1px solid $lightGreen;
      border-radius: 13px;
      margin-bottom: 15px;
      min-height: 40px;
      padding: 10px;
      font-size: 14px;
      transition: all 600ms;
      &:last-of-type{
        margin-right: 0;
      }
      &:hover{
        background-color: lighten(#92a69c, 25%);
        border-color: lighten(#92a69c, 25%);
        color: $mainGreen;
      }
      @screen lg {
        min-width: 210px;
        font-size: 18px;
      }
      @screen md {
        font-size: 16px;
        margin-bottom: 0;
        margin-right: 16px;
        max-width: 20%;
      }
    }
  }
}