$mainBg: #EFF2F7;
$mainGreen: #3A7859;
$mainDark: #354153;

// quizzes page
// Difficulty level bg colors
$levelGreen: #42A976;
$levelYellow: #EAC505;
$levelOrange: #EF7D54;
// Answer buttons border color
$lightGreen: #42A976;
