// z-index

$z-index: (
        modal              : 9999,
        header             : 100,
        navigation         : 99,
        triangle           : 60,
        navigation-rainbow : 50,
        share-type         : 41,
        share              : 40,
);