body {
  background-color: $mainBg;
  font-family: 'Barlow', sans-serif!important;
}

// Global usage
.gs_title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 150%;
  color: $mainGreen;
  margin: 134px 0 146px;
  @screen sm{
    font-size: 30px;
  }
  @screen md{
    font-size: 40px;
  }
  @screen lg{
    font-size: 50px;
  }
}
.gs_container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 25px;
}