@import "src/assets/scss/abstracts/colors";
.gs_homepage {
  p.gs_pick_category {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: $mainDark;
    margin-bottom: 36px;
  }
  .gs_select_wrapper {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    .gs_start_btn {
      margin-top: 99px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      padding: 16px 20px 18px;
      border-radius: 18px;
      min-width: 155px;
      background-color: $mainGreen;
      color: #ffffff;
      transition: background 700ms;
      &[disabled] {
        background: #F6F7F8;
        color: #C4C4C4;
        cursor: not-allowed;
      }
    }
  }
}